@charset "UTF-8";
*{
font-family: arial;  
}
body{
    background-color: #b3e099;
}

h1 {
    color: #242b41;
    background-color: #028f76;
    padding: 5px;
    border-radius: 5px;
}
h2 {
    color: #d14334;
}
main {
    background-color: #cccccc;
    padding: 10px;
    border-radius: 5px;
    width: 1000px;
    margin: auto;
}
 a {
    text-decoration: none;
    color: #1c2130;
 }
.atividade{
    color: #1c2130;
    background-color: #b3e099;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    margin-top: 5px;
}
.atividade:hover {
    background-color:#028f76;
}
iframe {
    border-radius: 5px;
}
 img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
 }
.botao-redes {
    border: none;
    background: none;
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    text-align: center;
    margin-right: 50px;
}

.botao-container {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
}
