@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,300&family=Rubik:wght@300;400;500&family=Vidaloka&display=swap');
:root {
    --cor-01:#0e0b29;
    --cor-02: #000000;
    --cor-03: #1c0028;
    --cor-04: #ebc588;
    --cor-05: #ebeaa9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    background-color: #0e0b29;
}

.topcontainer {
    display: flex;
    background-color:var(--cor-03);
    padding: 20px 0px 5px 20px;
    text-transform: uppercase;
    color: #fff;
}


.barranav {
    background-color: var(--cor-02);
    padding: 5px;
    position: sticky;
    top: 0;

}

.barranav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-left: 15px;
}

.sobre {
    display: inline-block;
    color: var(--cor-05);
    margin-top: 70px;
    padding-left: 40px;
    height: auto;
    text-align: justify;
    margin-bottom: 100px;
}

.sobre p {
    width: 400px;
}

.imggato {
    width: 300px;
}

.sobre h1 {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
}

.socorro {
    background-color: #fff;
    width: 300px;
    height: 300px;
}

.sobre h2 {
    margin-bottom: 10px;
    color:#ffffff
}
.listali{
    background-color: #fff;
    text-transform: uppercase;
    padding-top: 40px;
    padding-left: 40px;
    height: 200px;
}

.listali h3 {
    font-size: 20pt;
    margin-bottom: 10px;
}

.listali li{
    font-weight: 300;
    display: flex;
    font-size: 15pt;
    margin: 10px;
}

.html {
    background-color: var(--cor-01);
    width: 200px;
    height: 15px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 10px;
}

.html2 {
    font-size: 10pt;
    text-align: center;
    color: #fff;
    background-color:green;
    width: 50%;
    height: 15px;
    border-radius: 15px;
}

.css {
    background-color: var(--cor-01);
    width: 200px;
    height: 15px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 10px;
}

.css2 {
    font-size: 10pt;
    text-align: center;
    color: #fff;
    background-color:green;
    width: 50%;
    height: 15px;
    border-radius: 15px;
}

.js {
    background-color: var(--cor-01);
    width: 200px;
    height: 15px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 10px;
}

.js2 {
    font-size: 10pt;
    text-align: center;
    color: #fff;
    background-color:green;
    width: 50%;
    height: 15px;
    border-radius: 15px;
}

.py {
    background-color: var(--cor-01);
    width: 200px;
    height: 15px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 10px;
}

.py2 {
    font-size: 10pt;
    text-align: center;
    color: #fff;
    background-color:green;
    width: 50%;
    height: 15px;
    border-radius: 15px;
}

#links {
    background-color: #0e0b29;
    color: var(--cor-05);
    margin: 20px;
    padding: 40px;
    margin: auto;
    text-align: center;
}

#links02 {
    display: flex;
    margin: auto;
}

#links h3 {
    color:#fff;
    font-size: 20pt;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#links p {
    font-size: 18pt;
}
#links a {
    text-align: center;
    font-weight: 300;
    width: 100px;
    display: inline-block;
    background-color: #9c02b4;
    padding: 5px;
    margin: auto;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    color: #fff;
}

#links a:hover {
    background-color: #fff;
    color: #9c02b4;
}
 /* card github*/
.content {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.card {
    background-color:  #fff;
    box-shadow: 0px 2px 18px #0000007d;
    border-radius: 20px;
    width: 400px;
}

.mediacard {
    background: url(https://www.showmetech.com.br/wp-content/uploads//2022/11/Meu-projeto-50-1920x1024.jpg) center/cover;
    height: 300px;
    width: 100%;
}

.topcard {
    padding: 20px;
    padding-top: 15px;
}

.bottoncard {
    padding: 20px;
}

.actions {
    text-decoration: none;
    background: none;
    border: none;
    color:#7d2948;
    margin-right: 10px;
}

.bottontext {
    margin-bottom: 10px;
}

/*footer*/

.rodape{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
    
}