@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-descaque: 'bebas neue', cursive;
    --fonte-android:'Android', cursive;
}
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}
/*header*/
header {
    background-color: var(--cor4);
    padding: 30px;
}
header h1 {
    color: #fff;
    font-family: var(--fonte-descaque);
    text-align: center;
}

header p {
    color: #fff;
    text-align: center;
    padding: 5px;

}

nav {
    background-color: var(--cor5);
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
}
/*main*/
main {
    background-color: #fff;
    padding: 20px;
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
}

img {
    width: 100%;
}
/*footer*/
footer{
    background-color: #063d1e;
    color: #fff;
}